<div class="main">

</div>


<p id="loginheading">Log in</p>

<% if flash[:error] %>
<% flash[:error].each do |msg| %>
<%= msg %>
<% end %>
<% end %>

<%= form_with url: sessions_path, local:true do |f| %>
<p>
  <%= f.label :username %>:
  <%= f.text_field :username, :autocomplete => :off %>
</p>
<p>
  <%= f.label :password %>:
  <%= f.password_field :password %>
</p>
  <%= f.submit "Log in" %>

<% end %>
