
<h1>Log in</h1>
<%= form_with url: sessions_path, local:true do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username, :autocomplete => :off %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in" %>

<% end %>
