<div class="main">

</div>
<h1>Sign up</h1>
<%= form_for @user do |f| %>
<p>
  <%= f.label :name %>:
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :username %>:
  <%= f.text_field :username, :autocomplete => :off %>
</p>
<p>
  <%= f.label :password %>:
  <%= f.password_field :password %>
</p>
  <%= f.submit %>

<% end %>
