
<section class="container">
<div class="lefthalf">
  <div class="userpages">
    </div>
<div class="nameofuser"><h1 id="user-name"><%= @user.name %></h1></div>

<% if flash[:message] %>
<% flash[:message].each do |msg| %>
<%= msg %>
<% end %>
<% end %>

<% if flash[:register] %>
<% flash[:register].each do |msg| %>
<%= msg %>
<% end %>
<% end %>

<div class="logout">
<%= form_tag sessions_path, method: :delete do %>
  <%= submit_tag "Log out" %>
<% end %>
</div>

<div class="searchbartitle"><p>Search by Species: </p></div>
<div class="searchbar"><p><%= form_tag(user_path, method: :get) do %>
<%= text_field_tag :search, params[:search] %>
 <%= submit_tag 'Search' %></p>
<% end %>
</div>


<div class="add-plant-button"><p class="myplants"> My Plants:
   <%= button_to "Add A Plant", new_plant_path, method: :get %> </p></div>
<% if @plants.any? %>
  <% @plants.each do |plant| %>
  <ul>
  <li><%= link_to plant.nickname, plant_path(plant) %></li>
  </ul>
  <% end %>


<% else %>
<p><%= @error %> </p>
  <%= link_to "Go Back to All Plants", user_path(@user) %>
<% end %>
</p>
</div>


<div class="righthalf">
  <p class="todolist">To Do List:</p>
<ol>
  <% @tasks.each do |task| %>
    <li class="task"><div class="task-and-delete-button"><%= task.content %>
        <%= form_tag task_path(task), method: "delete" do %><%= submit_tag "Done" %></div></li>
      <% end %>
  <% end %>
</ol>

<% if @task.errors.any? %>
<% @task.errors.full_message.each do |message| %>
<ul>
  <li><%= message %></li>
</ul>
<% end %>
<% end %>

  <%= form_for @task do |f| %>
  <p>
  <%= f.label "New Task" %>:
  </p>
  <p>
  <%= f.text_field :content %>
  </p>
  <p>
  <%= f.hidden_field :user_id, value: @user.id %>
  </p>
  <%= f.submit %>
  <% end %>
</p>
</div>
</section>
