<h1><%= @user.name %></h1>

<%= form_tag(user_path, method: :get) do %>
<%= text_field_tag :search, params[:search] %>
 <%= submit_tag 'Search' %>
<% end %>

<% @plants.each do |plant| %>
<p>
<%= link_to plant.nickname, plant_path(plant) %>
</p>
<% end %>

<p>
<%= button_to "Add A Plant", new_plant_path, method: :get %>
</p>
