<div class="nameofuser">
  <h1><%= @user.name %></h1>
</div>

<% if flash[:message] %>
<% flash[:message].each do |msg| %>
<%= msg %>
<% end %>
<% end %>

<% if flash[:register] %>
<% flash[:register].each do |msg| %>
<%= msg %>
<% end %>
<% end %>

<div class="logout">
<%= form_tag sessions_path, method: :delete do %>
  <%= submit_tag "Log out" %>
<% end %>
</div>

<%= form_tag(user_path, method: :get) do %>
<%= text_field_tag :search, params[:search] %>
 <%= submit_tag 'Search' %>
<% end %>

<% if @plants.any? %>
  <% @plants.each do |plant| %>
  <p><%= link_to plant.nickname, plant_path(plant) %></p>
  <% end %>

<% else %>
<p><%= @error %> </p>
  <%= link_to "Go Back to All Plants", user_path(@user) %>
<% end %>

<p>
<%= button_to "Add A Plant", new_plant_path, method: :get %>
</p>

<p>
  <h4>To Do List:</h4>

<ul>

  <% @tasks.each do |task| %>
    <li><%= task.content %>
      <%= form_tag task_path(task), method: "delete" do %><%= submit_tag "Done" %></li>
      <% end %>
  <% end %>

</ul>

  <%= form_for @task do |f| %>
  <p>
  <%= f.label "New Task" %>:
  </p>
  <p>
  <%= f.text_field :content %>
  </p>
  <p>
  <%= f.hidden_field :user_id, value: @user.id %>
  </p>
  <%= f.submit %>
  <% end %>
</p>
