<% if @plant.errors.any? %>
<% @plant.errors.full_messages.each do |message| %>
<ul>
  <li><%= message %></li>
</ul>
  <% end %>
<% end %>

<%= form_for @plant do |f| %>
<p>
<%= f.label :nickname %>
<%= f.text_field :nickname %>
</p>
<p>
<%= f.label :plant_species %>
<%= f.text_field :plant_species%>
</p>
<p>
<%= f.label :age %>
<%= f.text_field :age %>
</p>
<p>
<%= f.label :location %>
<%= f.text_field :location %>
</p>
<p>
<%= f.label :image_url %>
<%= f.text_field :image_url %>
</p>
<p>
<%= f.label :watering_schedule %>
<%= f.text_field :watering_schedule %>
</p>
<p>
<%= f.label :description %>
</p>
<p>
<%= f.text_area :description %>
</p>
<p>
<%= f.hidden_field :user_id %>
</p>
<%= f.submit %>
<% end  %>
