<h1><%= @plant.nickname %></h1>

<p><%= link_to "Edit #{@plant.nickname}", edit_plant_path(@plant) %></p>
<p>
<%= form_tag plant_path(@plant.id), method: "delete" do %>
  <%= submit_tag "Delete #{@plant.nickname}" %>
<% end %>
</p>

<img src="<%= @plant.image_url %>" alt="<%= @plant.nickname %>">

<ul>
  <li>Species: <%= @plant.plant_species %></li>
  <li>Age: <%= @plant.age %></li>
  <li>Description: <%= @plant.description %></li>
  <li>Location: <%= @plant.location %></li>
  <li>Water Schedule: <%= @plant.watering_schedule %></li>
</ul>


<h2>Comments:</h2>

<% @comments.each do |comment| %>
<div>
<%= comment.created_at.strftime("%B %d, %Y") %>:
<%= comment.content %>

</div>
<% end %>

<h4>Add A Comment:</h4>
<% if @comment.errors.any? %>
<% @comment.errors.full_message.each do |message| %>
<ul>
  <li><%= message %></li>
</ul>
  <% end %>
<% end %>
<%= form_for @comment do |f| %>
<p>
<%= f.label :content %>:
</p>
<p>
<%= f.text_area :content %>
</p>
<p>
<%= f.hidden_field :plant_id, value: @plant.id %>
</p>
<%= f.submit %>
<% end %>

<%= link_to "Go back", user_path(@user.id) %>
